@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-black: #000000;
  --color-total-primary: #121416;
  --color-primary: var(--color-total-primary);
  --color-gray: #27282a;
  --color-secondary: rgba(23, 28, 38, 0.45);
  --color-tertiary: rgba(0, 12, 36, 0.22);
  --color-neutral-120: rgba(33, 60, 112, 0.11);
  --color-neutral-100: rgba(0, 37, 112, 0.04);
  --color-neutral-80: rgba(75, 113, 189, 0.04);
  --color-neutral-bg: #f7f8fb;
  --color-total-white: #ffffff;
  --color-white: var(--color-total-white);
  --color-white-black: #ffffff;
  --color-white-primary: #ffffff;
  --color-white-on-dark: #f2f4f8;
  --color-white-gray: #ffffff;
  --color-neutral-120-on-dark: rgba(229, 238, 255, 0.2);
  --color-neutral-100-on-dark: rgba(229, 238, 255, 0.15);
  --color-secondary-on-dark: rgba(23, 28, 38, 0.45);
  --color-tertiary-on-dark: rgba(229, 238, 255, 0.25);
  --color-brand-120: #e04500;
  --color-brand-100: #ff5000;
  --color-brand-80: #ff6e14;
  --color-brand-10: #ffe7dc;
  --color-accent-120: #1502c0;
  --color-accent-100: #2401fe;
  --color-accent-80: #548eff;
  --color-accent-10: rgba(23, 81, 229, 0.19);
  --color-success-120: rgba(15, 168, 68, 1);
  --color-success-100: rgba(16, 186, 76, 1);
  --color-success-80: rgba(18, 207, 84, 1);
  --color-success-10: rgba(13, 193, 67, 0.1);
  --color-pyme-100: #27418b;
}

:root {
  background: var(--color-total-white);

  @apply font-sans text-gray-900;
}
